@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --c12: #000000;
    --c11: #111111;
    --c10: #2e2e2e;
    --c9:  #404040;
    --c8:  #595959;
    --c7:  #717171;
    --c6:  #9C9C9C;
    --c5:  #B2B2B2;
    --c4:  #CCCCCC;
    --c3:  #DEDEDE;
    --c2:  #EDEDED;
    --c1:  #F7F7F7;
    --w:   #FFFFFF;

    --p5: #332200;
    --p4: #664400;
    --p3: #A66F00;
    --p2: #E4A30B;
    --p1: #FFBB00;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    gap: 20px;
    background-color: var(--c12);
}

.header-menu ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
}

.header-menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: var(--w);
    padding: 16px 0;
    font-size: 1.125rem;
    position: relative;
}

.header-menu ul li a::after {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 2px;
    background-color: var(--w);
    margin-top: 4px;
    transition: 0.3s;
}

.header-menu ul li a:hover::after {
    width: 100%;
}

@media (max-width: 900px) {
    .header {
        flex-direction: column;
    }

    .header-menu ul li a {
        background-color: var(--c10);
        padding: 8px 16px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .header-menu ul li a::after {
        display: none;
    }
}


.descricao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--c12);   
    justify-content: center;
}


.descricao-texto {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    padding: 0 80px;
}

.descricao-texto-detalhe {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.descricao-texto h1 {
    color: var(--w);
}

.descricao-texto p {
    color: var(--c5);
    margin-bottom: 20px;
}

.descricao-img img {
    max-width: 100%;
    display: block;
}

@media (min-width: 1200px) {
    .descricao-img img {
        max-width: 596px;
    }

    .descricao-texto {
        max-width: 60ch;
        justify-self: end;
        position: initial;
    }

    .descricao-texto-detalhe {
        top: 765px;
        left: 1.5%;
    }
}

.descricao-texto h1 {
    margin-bottom: 20px;
}

.descricao-texto h1::after {
    content: '.';
    color: var(--p1);
}

.descricao-texto a {
    text-decoration: none;
    color: var(--p5);
    background-color: var(--p2);
    padding: 8px 16px;
    border-radius: 5px;
}