#bicicleta .titulo p {
    text-transform: uppercase;
}

#bicicleta .bikes .carrosel {
    padding: 0;
}

#bicicleta .bikes {
    padding: 40px 0;
}

.bicicleta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}

.bicicleta-imagens {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;  
}

.bicicleta-imagens img {
    flex: 1;
    min-width: 200px;
}

.bicicleta-imagens img:first-child {
    min-width: 100%;
}

.bicicleta-conteudo {
    padding: 0px 40px;
}

.bicicleta-comprar {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 10px;
    align-items: center;
    justify-items: start;
}

.bicicleta-comprar > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}

.bicicleta-comprar span {
    display: flex;
    align-items: center;
    background-color: var(--c12);
    border-radius: 4px;
    padding: 4px 8px;
    gap: 8px;
    max-width: max-content;
}

.bicicleta-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, max-content));
    background-color: var(--c12);
    border-radius: 4px;
    padding: 40px;
    gap: 20px;
}

.bicicleta-info img {
    width: 24px;
    margin-bottom: 8px;
}

.bicicleta-ficha {
    display: flex;
    flex-direction: column;
    background-color: var(--c12);
    padding: 40px;
    border-radius: 4px;
}

.bicicleta-ficha p {
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

.bicicleta-ficha p + p {
    border-top: 1px solid var(--c11);
    padding-top: 10px;
}

.bicicleta-seguro-bg {
    background-color: var(--c11);
    box-shadow: inset 0 -80px var(--c12),
    inset 0 80px var(--w);
}

.bicicleta-seguro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.bicicleta-seguro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bicicleta-seguro-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 1000px) {
    .bicicleta-seguro-bg {
        box-shadow: initial;
    }
}

@media (max-width: 800px) {

    .bicicleta {
        grid-template-columns: 1fr;
    }

    .bicicleta-conteudo {
        padding: 40px 20px;
        text-align: center;
    }

    .bicicleta-comprar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .bicicleta-comprar > div {
        padding: 8px 0;
        align-items: center;
    }

    .bicicleta-info {
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: 400px) {
    .bicicleta-info {
    grid-template-columns: 1fr;       
    }
}
