:root {
    --w:   #FFFFFF;
    --c1:  #F7F7F7;
    --c2:  #EDEDED;
    --c3:  #DEDEDE;
    --c4:  #CCCCCC;
    --c5:  #B2B2B2;
    --c6:  #9C9C9C;
    --c7:  #717171;
    --c8:  #595959;
    --c9:  #404040;
    --c10: #2e2e2e;
    --c11: #111111;
    --c12: #000000;

    --p1: #FFBB00;
    --p2: #E4A30B;
    --p3: #A66F00;
    --p4: #664400;
    --p5: #332200;
}


.cor-0 {
    color: var(--w);
}

.cor-1 {
    color: var(--c1);
}

.cor-2 {
    color: var(--c2);
}

.cor-3 {
    color: var(--c3);
}

.cor-4 {
    color: var(--c4);
}

.cor-5 {
    color: var(--c5);
}

.cor-6 {
    color: var(--c6);
}

.cor-7 {
    color: var(--c7);
}

.cor-8 {
    color: var(--c8);
}

.cor-9 {
    color: var(--c9);
}

.cor-10 {
    color: var(--c10);
}

.cor-11 {
    color: var(--c11);
}

.cor-12 {
    color: var(--c12);
}

.cor-p1 {
    color: var(--p1);
}

.cor-p2 {
    color: var(--p2);
}

.cor-p3 {
    color: var(--p3);
}

.cor-p4 {
    color: var(--p4);
}

.cor-p5 {
    color: var(--p5);
}