.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 60px;
    gap: 20px;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.form-item:nth-child(3),
.form-item:nth-child(4){
    grid-column: 1/-1;
}

.form label {
    color: var(--c12);
    font: 600 1rem/1.5 "Poppins", sans-serif;
    margin-bottom: 8px;
}

.form input,
textarea {
    color: var(--c7);
    font: 400 1rem/1.5 "Roboto", sans-serif;
    background-color: var(--c1);
    border: 2px solid var(--c2);
    border-radius: 4px;
    padding: 12px;
}