.footer-bg {
    background-color: var(--c12);
    padding: 60px 0px;
}

.footer {
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 40px;
}

.footer-contato li,
.footer-informacoes li {
    list-style: none;
}

.footer a {
    text-decoration: none;
    color: var(--c6);
}

.footer a:hover {
    color: var(--w);
}

.footer-contato li:nth-child(even) {
    margin-bottom: 20px;
    position: relative;
}

.footer-contato li:nth-child(even)::after {    
    content: "";
    display: block;
    position: absolute;
    max-width: 360px;
    height: 2px;
    background-color: var(--c11);
    top: 30px;
}

.footer-informacoes li {
    margin-bottom: 10px;
}

.footer-redes {
    display: flex;
    gap: 20px;
}

.footer-redes img {
    transition: 0.3s;
}

.footer-cop {
    grid-column: 1/-1;
}

@media (max-width: 800px) {
    .footer > img {
        display: none;
    }

    .footer {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
 
    .footer {
        grid-template-columns: 1fr;
        text-align: center;
    }
}