.header-bg {
    background-color: var(--c12);
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.header-menu ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
}

.header-menu ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 16px 0;
    position: relative;
}

.header-menu ul li a::after {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 2px;
    background-color: var(--w);
    margin-top: 4px;
    transition: 0.3s;
}

.header-menu a:hover::after,
.header-menu a.ativo::after {
    width: 100%;
}

/* Menu Hamburguer */

#menu-button {
    display: none;
}

@media (max-width: 650px) {
    
    #menu-button {
        display: flex;
        position: relative;
        border-top: 2px solid var(--w);
        background-color: var(--w);
        width: 24px;
        margin: 40px 20px 60px 0;
        transition: 0.3s;
    }
    
    #menu-button::before {
        content: '';
        display: block;
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: var(--w);
        top: 6px;
        transition: 0.3s;
    }

      #menu-button::after {
        content: '';
        display: block;
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: var(--w);
        top: 14px;
        transition: 0.3s;
    }

    #menu-button.active {
        border: none;
    }

    #menu-button.active::before {
        transform: rotate(135deg);
    }

    #menu-button.active::after {
        top: 6px;
        transform: rotate(-135deg);
    }

    .header-menu ul {
        position: absolute;
        display: block;
        flex-direction: column;
        right: 0;
        gap: 0;
        background-color: var(--c12);
        width: 100vw;
        height: 0px;
        transition: 0.6s;
        text-align: center;
        z-index: 10;
        visibility: hidden;
        overflow-y: hidden;
    }
    
    .header-menu ul.active {
        visibility: visible;
        height: 100vh;
        overflow-y: auto;
    }

    .header-menu ul li {
        border-bottom: 2px solid var(--c10);
    }
    
    .header-menu ul.active a {
        padding: 30px 0px;
        width: 100vw;
    }
    
    .header-menu ul li a::after {
        display: none;
    }

    .no-scroll {
        overflow: hidden;
      }

}


