.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    gap: 20px;
    background-color: var(--c12);
}

.header-menu ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
}

.header-menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: var(--w);
    padding: 16px 0;
    font-size: 1.125rem;
    position: relative;
}

.header-menu ul li a::after {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 2px;
    background-color: var(--w);
    margin-top: 4px;
    transition: 0.3s;
}

.header-menu ul li a:hover::after {
    width: 100%;
}

@media (max-width: 900px) {
    .header {
        flex-direction: column;
    }

    .header-menu ul li a {
        background-color: var(--c10);
        padding: 8px 16px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .header-menu ul li a::after {
        display: none;
    }

}