.bikes > h1 {
    margin-left:  80px;
    margin-bottom: 20px;
}

.bikes h2 > span {
    display: inline-block;
    color: var(--p1);
}

.bikes h2 {
    position: relative;
    margin-left: 20px;
}

.bikes h2::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 10px;
    background-color: var(--p1);
    left: -20px;
    top: 12px;
}

.carrosel {
    display: flex;
    flex-direction: row;
    padding: 0 40px;
    gap: 20px;
}

.carrosel-item-img {
    max-width: 100%;
    border-radius: 4px;
}
