.carrosel {
    display: flex;
    flex-direction: row;
    padding: 0 40px;
    gap: 40px;
}

.carrosel-item{
    min-width: 280px;
    overflow-x: auto;
}

.carrosel-item-img {
    max-width: 100%;
    margin-bottom: 12px;
}

.bikes > h1 {
    margin-left:  80px;
    margin-bottom: 40px;
}

.bikes h2 {
    display: flex;
    align-items: center;
}

.bikes h2::before {
    content: "";
    width: 15px;
    height: 10px;
    display: inline-block;
    background-color: var(--p1);
    margin-right: 8px;
}

.carrosel-item span {
    padding-left: 23px;
}

@media (max-width: 800px) {
    .carrosel {
        gap: 20px;
    }
}
