.descricao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--c12);   
    justify-content: center;
    box-shadow: inset 0 -120px var(--w);
    margin-bottom: 100px;
}

.descricao-texto {
    align-self: end;
    position: relative;
    padding: 0 80px 200px 0;
}

.descricao-texto-detalhe {
    position: absolute;
    bottom: 150px;
    left: 15px;
}

.descricao-texto h1 {
    margin-bottom: 20px;
}

.descricao-texto p {
    margin-bottom: 20px;
}

.descricao-img img {
    max-width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 1200px) {
    .descricao-img img {
        max-width: 596px;
    }

    .descricao-texto {
        max-width: 80ch;
        justify-self: end;
        position: initial;
    }

    .descricao-texto-detalhe {
        top: 640px;
        left: 1.5%;
    }
}
