.seguros-perguntas {
    padding: 80px 20px;
}

.seguros-perguntas dl:nth-child(even) {
    background-color: var(--c1);
}

.seguros-perguntas h1 {
    margin-bottom: 80px;
}

.seguros-perguntas dl div {
    padding: 20px;
    border-radius: 4px;
}

.seguros-perguntas dt {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.seguros-perguntas dd {
    padding-left: 20px;
    padding-top: 20px;
    max-width: 80ch;
}

.seguros-perguntas dt::before {
    content: "";
    display: inline-block;
    height: 8px;
    width: 12px;
    background-color: var(--p1);
}

/* Perguntas */
.js .pergunta-resposta {
    display: none;
}

.js .mostrar {
    display: block;
}

.js .rotacionar {
    transform: rotate(180deg);
}

.js .pergunta-item img {
    transition:  0.3s ease;
}