.seguros {
    padding: 80px 0;
    background-color: var(--c11);
}

#seguros .seguros {
    padding-top: 20px;
}

.seguros-bg {
    background-color: var(--c11);
}

.seguros-categorias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.seguros-item {
    background-color: var(--c12);
    padding: 32px 32px 32px 60px;
    border-radius: 4px;

    display: grid;
    grid-template-columns: 1fr auto;

}

.seguros-item span {
    grid-column: 2;
    display: block;
    text-align: right;
}

.seguros-item ul {
    grid-column: 1;
}

.seguros-item a {
    grid-column: 1/-1;
    justify-self: end;
}

.seguros-item ul {
    list-style: none;
}

.seguros-item li {
    margin-bottom: 10px;
    position: relative;
}

.seguros-item li::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 13px;
    height: 9px;
    background-image: url("../../img/icones/lista.svg");
    left: -20px;
    top: 7px;
}

@media (max-width: 800px) {
    .seguros-categorias {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .seguros-item {
        width: 80%;
        justify-self: center;
    }
}

.seguros-vantagens-bg {
    background-color: var(--c12);
    padding: 80px 0;
}

.seguros-vantagens-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}